/Library
/Temp
/.vs
/.vscode
.vsconfig
/Logs
/Logs
/Logs
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
/Logs
UserSettings/Layouts/default-6000.dwlt
UserSettings/Layouts/default-6000.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
